@import "../node_modules/font-awesome/less/font-awesome.less";
@import "./variables.less";

* { box-sizing: border-box; }

body, html {
    height: 100%;

    margin: 0;
    padding: 0;

    background: @background;

    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-weight: 400;
}

.section-image {
    position: relative;

    height: 100%;

    margin-bottom: 15vmin;
    margin-left: 50%;
    padding-bottom: 10vmin;
    transform: translate(-50%, 0%);

    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;

    &.record {
        background-image: url('../images/record-lg.png');
        width: 98vmin;
    }

    &.sleeve {
        color: #4b4840;
        background-image: url('../images/sleeve-front-lg.png');
        width: 99vmin;

        & h1 {
            opacity: 0.8;
            font-size: 2.9vmin;
            font-weight: bold;
        }
    }

    &.jacket {
        background-image: url('../images/jacket-lg.png');
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        width: 100vmin;

        box-shadow: 0 0 1vmin #111;
    }

    &.contact {
        background-color: @background;

        text-align: center;
        color: #ccc;

        width: 105vmin;

        h1 {
            margin-bottom: 8vmin;

            font-size: 10vmin;
        }

        a, a:hover, a:visited {
            color: #fff;
            text-decoration: none;
        }

        p {
            font-size: 5vmin;
            margin-bottom: 10vmin;

            a {
                font-size: 6.5vmin;
            }
        }

        .social {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            font-size: 5vmin;

            h2 {
                font-size: 2vmin;
                margin: 0 0 1.5vmin 0;
            }

            .contact-mail {
                font-size: 2.75vmin;
                vertical-align: top;
            }

            .social-row {
                margin-bottom: 5vmin;
            }
        }
    }

    h1 {
        margin: 0;
        padding: 0;
    }
}

.stick {
    position: fixed;
    top: 0;
    margin-top: 0;
}

.content {
    position: relative;
    left: 25%;
    top: 57%;

    // not sure why this is needed....
    @media all and (orientation:portrait) {
        top: 37%;
    }

    width: 50%;

    font-size: 2.25vmin;
    text-align: center;
}

.center-me {
    text-align: center;
}
